*{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
}
.y{
align-items: center;
padding-top: 33px;
padding-bottom:20px;
color: rgb(5, 20, 69);
font-weight: 600;
}
.u{
    padding-left:50px;
    font-size: 2rem;
    padding-top: 23px;
}
.o{
    padding-left: 150px;
}
.q{
    padding-right:250px;
}